    <nav>
        <h1>Lau Geek</h1>
        <a href="/about/">About</a>

        <!-- Icons Menu -->
        
        <a href="https://www.linkedin.com/in/charbonneaulaurent" target="_blank" title="LinkedIn">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://www.credly.com/users/charbonneaulaurent" target="_blank" title="Credly">
            <i class="fas fa-certificate"></i>
        </a>
        <a href="https://github.com/LauGeek" target="_blank" title="GitHub">
            <i class="fab fa-github"></i>
        </a>
    </nav>
